//colors
$primary: #31a745;
$black: #000;
$gray: #edeef3;
$white: #fff;

//z-index
$navigation: 999;
$menu-mobile: 850;
$shipping: 840;
$popup-category: 950;
$popup-box: 950;
$add-popup: 700;

//fonts
$main-font: "Poppins", sans-serif;
$title-font: "All Round Gothic";
